.footer {
    background: $bg-color;
    padding: 30px 0 30px 0;

    &__container {

    }

    &__box {
        display: grid;
        grid-template-columns: 1fr;

        border-top: 2px solid $separator-color;
        padding-top: 30px;
        //text-align: center;

        @media screen and (min-width: $breakpoint-md) {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__social {
        svg {
            width: 38px;
            height: 38px;
            fill: $regular-color;
          }
    }

    &__box-adress {
        display: flex;
        justify-content: center;
        gap: 10px;
        align-items: center;

        @media screen and (min-width: $breakpoint-md) {
            justify-content: flex-start;
        }

        p {
            font-size: 14px;
            font-weight: 400;
            color: $main-color;
        }

        a {
            font-size: 12px;
            font-weight: 700;
            letter-spacing: 1px;
            text-transform: uppercase;
            color: $regular-color;
        }
    }

    &__box-contact {
        padding: 21px 0 30px 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
        grid-column: 1 / -1;

        @media screen and (min-width: $breakpoint-md) {
            flex-direction: row;
        }

        p {
            font-size: 16px;
            font-weight: 700;
            color: $alt-color;
        }
    }

    &__social-gmail {
        text-decoration: none;
        font-size: 16px;
        font-weight: 700;
        color: $regular-color;
    }

    &__box-company {
        font-size: 16px;
        font-weight: 400;
        color: $text-color;
        margin: 0 auto;
        grid-row: 3;

        @media screen and (min-width: $breakpoint-md) {
            grid-row: auto;
            margin-right: 0;
        }
    }
}